

<nav class="navbar navbar-light  bg-light">
<div class="container">

    <ul class='nav'>
      <li class="trans"><a class="navbar-brand" routerLink="/home">Aditya Agarwal</a></li><span class="brandtitle"></span>
      <li class="trans"><a href="https://www.linkedin.com/in/aditya-5/" class="linkCol"><i class="fab fa-linkedin inline" ></i></a></li>
      <li class="trans"><a href="https://github.com/aditya-5" class="linkCol"><i class="fab fa-github inline" ></i></a></li>
      <li class="trans"><a href="https://www.instagram.com/imaa45" class="linkCol"><i class="fab fa-instagram inline" ></i></a></li>
      <li class="trans"><a href="https://www.facebook.com/Aditya.Agarwalll/" class="linkCol"><i class="fab fa-facebook inline" ></i></a></li>
      <li class="trans"><a href="https://twitter.com/ImAa45" class="linkCol"><i class="fab fa-twitter inline" ></i></a></li>


    </ul>
    <ul class="nav">
<li class="nav-item">
  <a class="nav-link active linkCol"  routerLink="/home">Homepage</a>
</li>
<li class="nav-item">
  <a class="nav-link linkCol" routerLink="/projects">Projects</a>
</li>
<li class="nav-item">
  <a class="nav-link linkCol" routerLink="/contact">Contact</a>
</li>
<li class="nav-item">
  <a class="nav-link linkCol" routerLink="/education">Education</a>
</li>

</ul>
</div>
</nav>
