<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mb80">
    <div class="page-timeline">








      <div class="vtimeline-point">
          <div class="vtimeline-icon">
              <i class="fa fa-image"></i>
          </div>
          <div class="vtimeline-block">
              <span class="vtimeline-date"> April, 2021</span><div class="vtimeline-content">

                  <div id="project4" class="carousel slide mb20" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#project4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#project4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#project4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#project4" data-bs-slide-to="3" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#project4" data-bs-slide-to="4" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734436/20_lxrmwq.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734436/21_c5u2pv.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734437/22_ytjb8w.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734437/23_okugbq.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734438/24_vkladq.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#project4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#project4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  <h3>RecipeBook</h3>
                  <ul class="post-meta list-inline">
                      <li class="list-inline-item">
                          <i class="fab fa-github trans"></i><span class="repo"><a href="https://github.com/aditya-5/angular-shop" class="linkCol"> Repository</a></span>
                      </li>
                      <li class="list-inline-item">
                          <i class="fa fa-tags trans"></i> Online Course
                      </li><br>
                      <li class="list-inline-item">
                        <i class="fas fa-map-marker-alt"></i> Angular Guide by Maximilian Schwarzmüller
                      </li>
                      <br>
                      <li class="list-inline-item">
                        <i class="fas fa-code"></i> Angular, BootStrap, Firebase
                      </li>

                  </ul>
                  <p>
                    A fully functional recipe book and shopping list system integrated into one single-page app. The app also consists of a
                    working login system built using Firebase. This includes auto-login and auto-logout.

                  </p><br>
              </div>
          </div>
      </div>




          <div class="vtimeline-point">
              <div class="vtimeline-icon">
                  <i class="fa fa-image"></i>
              </div>
              <div class="vtimeline-block">
                  <span class="vtimeline-date">19-21 March, 2021</span><div class="vtimeline-content">

                      <div id="project1" class="carousel slide mb20" data-bs-ride="carousel">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#project1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#project1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#project1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734285/1_jsyepf.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734334/2_s7mqqe.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734339/3_co54gd.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#project1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#project1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      <h3>StreetSpots</h3>
                      <ul class="post-meta list-inline">
                          <li class="list-inline-item">
                              <i class="fab fa-github trans"></i><span class="repo"><a href="https://github.com/aditya-5/StreetSpots" class="linkCol"> Repository</a></span>
                          </li>
                          <li class="list-inline-item">
                              <i class="fa fa-tags trans"></i> Hackathon
                          </li>
                          <li class="list-inline-item">
                            <i class="fas fa-trophy winner"></i>
                          </li>
                          <br>
                          <li class="list-inline-item">
                            <i class="fas fa-map-marker-alt"></i> HackMerced - University of California, Merced
                          </li>


                          <br>
                          <li class="list-inline-item">
                            <i class="fas fa-code"></i> PHP, HTML, CSS, BootStrap, JavaScript, jQuery
                          </li>



                      </ul>
                      <p>
                        StreetSpots aims at promoting social good by supporting the local street vendors around you.
                        It allows you to add information about a particular street vendor you may have spotted. Other users
                        can then view all the street vendors around them on an interactive map built using Google Maps API.
                      </p><br>
                  </div>
              </div>
          </div>





                    <div class="vtimeline-point">
                        <div class="vtimeline-icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="vtimeline-block">
                            <span class="vtimeline-date">2-5 March, 2021</span><div class="vtimeline-content">

                                <div id="project2" class="carousel slide mb20" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="3" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="4" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="5" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project2" data-bs-slide-to="6" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734380/4_zo3hoc.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734402/5_tv6yqr.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734426/6_abgezc.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734428/7_mtwr1t.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734442/8_ijvpvp.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734430/9_ateqjg.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734429/10_ucxmoe.png" class="d-block w-100" alt="...">
                                      </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#project2" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#project2" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                  </div>
                                <h3>UpProcess</h3>
                                <ul class="post-meta list-inline">
                                    <li class="list-inline-item">
                                        <i class="fab fa-github trans"></i><span class="repo"><a href="https://github.com/aditya-5/UpProcess" class="linkCol"> Repository</a></span>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-tags trans"></i> Hackathon
                                    </li><br>
                                    <li class="list-inline-item">
                                      <i class="fas fa-map-marker-alt"></i> Makeathon 3077 - Thapar University, India
                                    </li>
                                    <br>
                                    <li class="list-inline-item">
                                      <i class="fas fa-code"></i> PHP, HTML, CSS, BootStrap, JavaScript, jQuery
                                    </li>

                                </ul>
                                <p>
                                  The app uProcess is a solution with the target audience as commercial organizations.
                                  At at the most basic level, the app allows the HR Department or manager in general to
                                  assign work to the company's employees and keep a tally of their attendance. It can also
                                  be thought of a simple attendance and a to-do list app merged into one with some added functionality.
                                </p><br>
                            </div>
                        </div>
                    </div>




                    <div class="vtimeline-point">
                        <div class="vtimeline-icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="vtimeline-block">
                            <span class="vtimeline-date"> 20-29 November, 2020</span><div class="vtimeline-content">

                                <div id="project3" class="carousel slide mb20" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="3" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="4" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="5" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="6" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="7" aria-label="Slide 3"></button>
                                      <button type="button" data-bs-target="#project3" data-bs-slide-to="8" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734458/11_a4t4mc.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734430/12_mhcqny.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734430/13_rsrteu.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734434/14_v8nhwp.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734461/15_euuvzd.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734439/16_kfeyzx.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734434/17_yq3ovg.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734435/18_p5stgg.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1624734435/19_b9btrd.png" class="d-block w-100" alt="...">
                                      </div>

                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#project3" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#project3" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                  </div>
                                <h3>Snakeock</h3>
                                <ul class="post-meta list-inline">
                                    <li class="list-inline-item">
                                        <i class="fab fa-github trans"></i><span class="repo"><a href="https://github.com/aditya-5/snakeock" class="linkCol"> Repository</a></span>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-tags trans"></i> Coursework
                                    </li><br>
                                    <li class="list-inline-item">
                                      <i class="fas fa-map-marker-alt"></i> University of Manchester
                                    </li>
                                    <br>
                                    <li class="list-inline-item">
                                      <i class="fas fa-code"></i> Python
                                    </li>

                                </ul>
                                <p>
                                  Snakeock (Snake v/s Block) game built using Python's TKinter GUI Library.
                                </p><br>
                            </div>
                        </div>
                    </div>


















    </div>
</div>
